.users-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
